<footer class="footer pt-5 pb-4">
	<div class="container">
		<div class="row mb-3">
			<div class="col-md-6">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-xl-7">
						<div class="footer-title text-center">
							<h5>Связаться с нами:</h5>
						</div>
						<div class="global__phone text-right mb-3">
							<h3 class="d-inline-block">
								<span class="global-phone-icon">
									<img src="images/global_phone_icon.svg" class="img-svg d-block" alt=""/>
								</span>
								<a href="#">8 (812) 702 05 07</a>
							</h3>
							<p>Санкт-Петербург</p>
						</div>
						<div class="global__phone text-right mb-3">
							<h3 class="d-inline-block">
								<span class="global-phone-icon">
									<img src="images/global_phone_icon.svg" class="img-svg d-block" alt=""/>
								</span>
								<a href="#">8 (800) 770 08 52</a>
							</h3>
							<p>Звонки по всей России бесплатные</p>
							<p><a href="#">info@dooh.ru</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 pt-md-5">
				<div class="row no-gutters text-center">
					<div class="col-lg-4 footer-email mb-3">
						<p>Работа в нашей команде:</p>
						<p><a href="#">hr@dooh.ru</a></p>
					</div>
					<div class="col-lg-4 footer-email mb-3">
						<p>Пригласить в тендер:</p>
						<p><a href="#">tender@dooh.ru</a></p>
					</div>
					<div class="col-lg-4 footer-email mb-3">
						<p>По вопросам PR и сотрудничества:</p>
						<p><a href="#">PR@dooh.ru</a></p>
					</div>
					<div class="col-lg-4 footer-email mb-3">
						<p>Партнерская программа:</p>
						<p><a href="#">info@dooh.ru</a></p>
					</div>
					<div class="col-lg-4 footer-email mb-3">
						<p>Стать поставщиком:</p>
						<p><a href="#">buying@dooh.ru</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-lg-4">
						<div class="footer-title yellow mb-3">
							<h5>Страницы:</h5>
						</div>
						<ul class="footer-nav mb-3">
							<li><a href="#">О нас</a></li>
							<li><a href="">Услуги</a></li>
							<li><a href="">Клиенты</a></li>
							<li><a href="">Портфолио</a></li>
							<li><a href="">Отзывы</a></li>
							<li><a href="">Акции</a></li>
							<li><a href="">Контакты</a></li>
							<li><a href="">Комплексное сопровождение</a></li>
						</ul>
					</div>
					<div class="col-lg-4">
						<div class="footer-title yellow mb-3">
							<h5>Наши проекты:</h5>
						</div>
						<ul class="footer-nav mb-3">
							<li><a href="#">Рекламанащитах.рф</a></li>
							<li><a href="">Рекламавметро.рф</a></li>
							<li><a href="">Рекламанатранспорте.рф</a></li>
							<li><a href="">Dooh.ru</a></li>
							<li><a href="">Реклама-в-лифтах.рф</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-between">
			<div class="col-lg-6">
				<div class="callform__block">
					<div class="callform-title mb-2">
						<p class="text-uppercase p_26 text-yellow"><strong>Вы искали именно нас</strong></p>
						<p class="text-uppercase p_22">перезвоним сегодня же</p>
					</div>
					<div class="callform-body">
						<div class="row">
							<div class="col-md-7">
								<div class="form-group">
							    <input type="text" class="form-control rounded-pill" placeholder="Номер телефона"/>
							  </div>
							</div>
							<div class="col-md-5 order-2 order-md-1">
								<button type="submit" class="btn btn-block rounded-pill text-uppercase btn-gradient">Связаться с нами</button>
							</div>
							<div class="col-md mb-3 order-1 order-md-2">
								<div class="custom-control white custom-checkbox">
								  <input type="checkbox" class="custom-control-input" id="customCheck1">
								  <label class="custom-control-label" for="customCheck1">Согласен на обработку <a href="#">персональных данных</a></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 text-right">
				<div class="footer-social mb-2">
					<a href="#" target="_blank">
						<img src="images/facebook_icon.svg" class="img-fluid img-svg" alt=""/>
					</a>
					<a href="#" target="_blank">
						<img src="images/twitter_icon.svg" class="img-fluid img-svg" alt=""/>
					</a>
					<a href="#" target="_blank">
						<img src="images/youtube_icon.svg" class="img-fluid img-svg" alt=""/>
					</a>
					<a href="#" target="_blank">
						<img src="images/vk_icon.svg" class="img-fluid img-svg" alt=""/>
					</a>
					<a href="#" target="_blank">
						<img src="images/instagram_icon.svg" class="img-fluid img-svg" alt=""/>
					</a>
				</div>
				<div class="footer-copyright">
					<p>Политика обработки персональных данных</p>
					<p>Все права зарегистрированы</p>
					<p>Данный сайт является информационным, и не является публичной офертой, определяемой положениями ст. 437(2) ГК РФ</p>
					<p><a href="#">Служба клиентского сервиса</a></p>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="js/bundle.js"></script>
</body>
</html>