<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/style.bundle.css">
  <title><%=title%></title>
</head>

<body>
<header class="header header-main-bg pt-2">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-lg-4 mb-3 mb-lg-0">
      	<div class="row flex-md-nowrap">
      		<div class="col-md order-md-2 logo text-center py-2">
	          <a href="#"><img src="images/logo.svg" class="img-fluid" alt=""/></a>
	        </div>
	        <div class="col-md col-lg-auto order-md-1">
		        <div class="mobile-wrap d-flex d-lg-block align-items-center justify-content-between justify-content-md-start">
			    		<div class="lang-switcher order-2 mb-lg-4">
		            <ul>
		              <li class="current-lang"><a href="#">RU</a></li>
		              <li><a href="#">EN</a></li>
		            </ul>
		          </div>
		          <div class="header-menu order-1 mr-3 mr-lg-0">
		            <a class="header-menu-icon d-flex justify-content-center align-items-center"><span></span></a>
		            <div class="hide-menu shadow d-none">
		            	<ul>
		            		<li class="">
		            			<a class="aside__nav-link" href="index.html">О нас</a>
		            		</li>
		            		<li class="">
		            			<a class="aside__nav-link" href="about.html">Портфель</a>
		            		</li>
		            		<li class="">
		            			<a class="aside__nav-link" href="services.html">Отзывы</a>
		            		</li>
		            		<li class="">
		            			<a class="aside__nav-link" href="calculator.html">Постоянные акции</a>
		            		</li>
		            		<li class="">
		            			<a class="aside__nav-link" href="clients.html">График размещения</a>
		            		</li>
		            		<li class="">
		            			<a class="aside__nav-link" href="portfolio.html">Контакты</a>
		            		</li>
		            		<li class="">
		            			<a class="aside__nav-link" href="#">Комплексное сопровождение</a>
		            		</li>
		            	</ul>
		            </div>
		          </div>
		        </div>
		      </div>
	      </div>
      </div>
      <div class="col-lg-8">
        <div class="row no-gutters header-contact">
        	<div class="col-auto d-none d-xl-block">
        		<div class="row no-gutters align-items-center">
		          <div class="col-auto time-img py-2">
		            <img src="images/time-icon.png" alt=""/>
		          </div>
		          <div class="col-auto pt-3 pt-xl-0 ml-xl-2 d-none d-lg-block call-processing text-uppercase">
		            <p>Обработка звонков<br/>и заявок 24/7</p>
		          </div>
		        </div>
	        </div>
	        <div class="col">
	        	<div class="row no-gutters">
	        		<div class="col-md-6 mb-3 mb-md-0 pl-5 pt-2 call-messengers">
								<a href="#" class="call-messengers-more">
									<img src="images/plus_icon.svg" alt=""/>
								</a>
								<a href="#" class="call-messengers-item d-flex align-items-center justify-content-between mb-2"><span>Whatsapp:</span><span>+79643422202</span></a>
								<a href="#" class="call-messengers-item d-flex align-items-center justify-content-between mb-2"><span>Viber:</span><span>+79643422202</span></a>
								<a href="#" class="call-messengers-item d-flex align-items-center justify-content-between mb-2"><span>Telegram:</span><span>+79643422202</span></a>
	        		</div>
	        		<div class="col-md-6 text-center text-md-right">
			        	<div class="global__phone text-right mb-2">
									<h3 class="d-inline-block">
										<span class="global-phone-icon">
											<img src="images/global_phone_icon.svg" class="img-svg d-block" alt=""/>
										</span>
										<a href="#">8 (812) 702 05 07</a>
									</h3>
									<p>Санкт-Петербург</p>
								</div>
								<div class="global__phone text-right mb-2">
									<h3 class="d-inline-block">
										<span class="global-phone-icon">
											<img src="images/global_phone_icon.svg" class="img-svg d-block" alt=""/>
										</span>
										<a href="#">8 (800) 770 08 52</a>
									</h3>
									<p>Звонки по всей России бесплатные</p>
								</div>
							</div>
						</div>
	        </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end mb-2">
    	<div class="col-lg-4 order-lg-2 mb-3 mb-lg-0 text-center text-md-right">
	    	<a href="#form-dialog" class="popup-with-form rounded-pill feedback-call btn btn-gradient px-5" data-name="Заказать звонок">Заказать звонок</a>
	    </div>
	    <div class="col-lg-7 order-lg-1 header-title">
	      <h1 class="text-uppercase mb-0">Реклама на афишах</h1>
	      <h3 class="text-uppercase mb-0">в Санкт-Петербурге</h3>
	    </div>
	  </div>
	</div>
	<div class="main-content">
		<div class="dotted__bg"></div>
		<div class="container">
			<div class="row justify-content-between">
      	<div class="col-md-6">
      		<div class="row justify-content-end header-title mb-5">
      			<div class="col-lg-10">
		      		
		      		<p>Вместо рекламного поля «Вертикаль» как сменяющиеся изображения, например как перелистывание листа бумаги, на каждой страничке: КОНЦЕРТЫ, ФЕСТИВАЛИ, ЯРМАРКИ, ВЫСТАВКИ, МЕРОПРИЯТИЯ, ПРАЗДНИКИ, КИНОПОКАЗЫ</p>
		      	</div>
		      </div>
		      <div class="row no-gutters justify-content-center mb-3">
		      	<div class="col-lg-9 look__block">
		      		<div class="look-block-border rotation_right sec-4">
		      			<img src="images/main_hex_border.svg" class="img-fluid" alt=""/>
		      		</div>
		      		<div class="look-block-content">
		      			<div class="look-block-content-bg rotation_left sec-4">
		      				<img src="images/main_hex_bg.svg" class="img-fluid" alt=""/>
		      			</div>
		      			<div class="look-block-content-text d-flex align-items-center justify-content-center flex-column">
		      				<div class="mb-3">
				      			<h4 class="mb-0 text-uppercase">Посмотрите</h4>
				      			<p class="mb-0">Как будет выглядеть</p>
				      			<h4 class="mb-0 text-uppercase">ваша АФИША</h4>
				      		</div>
			      			<div class="text-center">
			      				<a href="#" class="look-block-link">
			      					<img src="images/arrow_down.svg" class="img-fluid img-svg" alt=""/>
			      				</a>
			      			</div>
		      			</div>
		      		</div>
		      	</div>
		      </div>
      	</div>
      	<div class="main-content-slider col-md-5 pt-5">
      		<div class="circles_block">
      			<div class="circles_inner"></div>
      		</div>
      		<div class="slider_block mt-5">
      			<img src="images/poster.png" class="img-fluid" alt=""/>
      		</div>
      	</div>
      </div>
    </div>
	</div>
	<div class="lines_figure">
		<div class="lines-top">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 1920 1080" xml:space="preserve">
				<style type="text/css">
					.st0{fill:#00AEFF;}
					.st1{fill:#FF2A6D;}
					.st2{fill:#FFB852;}
					.st3{fill:#00E4FF;}
					.st4{fill:#FFD34E;}
					.st5{fill:#DF5D86;}
				</style>
				<polygon class="st0" points="1920,66.4 1920,142.2 1619.4,302.1 1619.4,226.2 "/>
				<polygon class="st2" points="1920,207.2 1920,257 1382,543.1 1388.9,489.6 "/>
				<polygon class="st4" points="1920,-0.3 1920,49.6 1472.4,287.6 1472.4,237.2 1886.5,17 1886.8,17.4 "/>
				<polygon class="st5" points="1920,89.3 1920,186.8 1263.8,535.7 1165.6,490.5 1619.4,249.2 "/>
			</svg>
		</div>
		<div class="lines-bottom">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		 viewBox="0 0 1920 1080" xml:space="preserve">
		 		<polygon class="st1" points="781.8,908.1 458.5,1080 275.5,1080 678,865.9 "/>
		 		<polygon class="st3" points="742.5,533.2 742.5,573.3 0,945.2 0,905.1 "/>
		 		<polygon class="st4" points="901,591.5 262.5,931 262.2,930.6 0,1070 0,1020.2 806.2,591.5 "/>
			</svg>
		</div>
	</div>
	<div class="square_figure rotation_right sec-6"></div>
	<div class="circle_figure rotation_left sec-6"></div>
</header>