<% var data = {
  title: "Заголовок | Проект"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<main>
	<section class="advantages py-5">
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-5 title_block mb-5">
					<h4 class="text-uppercase">Почему вы нас</h4>
					<h2 class="text-uppercase">не променяете</h2>
				</div>
				<div class="col-lg-7">
					<div class="media d-block d-md-flex review_block">
						<div class="media-image mb-4 mb-md-0 mr-0 mr-md-5">
							<div class="review_block-image mx-auto mb-3">
					  		<img src="images/review-photo.jpg" class="img-fluid clip-svg" alt=""/>
				  			<img src="images/review-photo-bg.svg" class="img-svg" alt=""/>
					  	</div>
					  	<div class="review_block-all text-center d-none d-md-block">
					  		<a href="#">Наши отзывы</a>
					  	</div>
					  </div>
					  <div class="media-body">
					  	<div class="review_block-body mb-4 mb-md-0">
					    	<p>Балет «Укрощение строптивой», только что награжденный тремя «Золотыми масками», впервые отправляется на гастроли. В рамках XIV фестиваля Dance Open еще свежую продукцию Большого балета дважды покажут в Петербурге. «Известия» поговорили с автором спектакля, прославленным французским хореографом Жан-Кристофом Майо.</p>
					    	<div class="review_block-signature mt-4">
						    	<h5 class="mb-0 text-uppercase">Романенко И.С.</h5>
						    	<p>18.20.2054</p>
						    </div>
					    </div>
					    <div class="review_block-all text-center d-md-none">
					  		<a href="#">Наши отзывы</a>
					  	</div>
					  </div>
					</div>
				</div>
			</div>
			<div class="advantages-slider mb-5">
				<div class="advantages-carousel owl-carousel owl-theme pb-3">
					<div class="item my-5 mx-3 mx-md-5 text-center">
						<div class="item-bg mx-auto">
							<img src="images/advantages_bg.svg" class="img-fluid img-svg" alt=""/>
						</div>
						<div class="item-content d-flex flex-column align-items-center justify-content-center">
							<div class="item-icon mb-3">
								<span></span>
							</div>
							<div class="item-text">
								<h4 class="mb-0 text-uppercase">Стоимость</h4>
								<p class="mb-0">вне конкуренции</p>
							</div>
						</div>
					</div>
					<div class="item my-5 mx-3 mx-md-5 text-center">
						<div class="item-bg mx-auto">
							<img src="images/advantages_bg.svg" class="img-fluid img-svg" alt=""/>
						</div>
						<div class="item-content d-flex flex-column align-items-center justify-content-center">
							<div class="item-icon mb-3">
								<span></span>
							</div>
							<div class="item-text">
								<h4 class="mb-0 text-uppercase">Личный</h4>
								<p class="mb-0">менеджер</p>
							</div>
						</div>
					</div>
					<div class="item my-5 mx-3 mx-md-5 text-center">
						<div class="item-bg mx-auto">
							<img src="images/advantages_bg.svg" class="img-fluid img-svg" alt=""/>
						</div>
						<div class="item-content d-flex flex-column align-items-center justify-content-center">
							<div class="item-icon mb-3">
								<span></span>
							</div>
							<div class="item-text">
								<h4 class="mb-0 text-uppercase">Стоимость</h4>
								<p class="mb-0">вне конкуренции</p>
							</div>
						</div>
					</div>
					<div class="item my-5 mx-3 mx-md-5 text-center">
						<div class="item-bg mx-auto">
							<img src="images/advantages_bg.svg" class="img-fluid img-svg" alt=""/>
						</div>
						<div class="item-content d-flex flex-column align-items-center justify-content-center">
							<div class="item-icon mb-3">
								<span></span>
							</div>
							<div class="item-text">
								<h4 class="mb-0 text-uppercase">Личный</h4>
								<p class="mb-0">менеджер</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center mb-5">
				<h3 class="text-uppercase mb-3">Не терять время</h3>
				<p><a href="#form-dialog" class="popup-with-form rounded-pill btn btn-gradient px-5" data-name="Связаться с нами">Связаться с нами</a></p>
			</div>
			<div class="d-flex justify-content-center">
				<a href="#" class="think_link d-flex align-items-center">
					<span class="think-icon">
						<img src="images/arrow_down.svg" class="img-fluid img-svg" alt=""/>
					</span>
					<span class="think-text">Подумать еще</span>
				</a>
			</div>
		</div>
	</section>
	<section class="banner_block">
		<div class="container">
			<div class="row justify-content-end pt-5">
				<div class="col-md-5">
					<div class="py-5"></div>
					<img src="images/poster2.png" class="img-fluid" alt=""/>
				</div>
			</div>
		</div>
			<div class="banner-form">
				<div class="container">
					<div class="row no-gutters">
						<div class="col-lg-6 offset-lg-2">
							<div class="callform__block">
								<div class="callform-title mb-2">
									<p class="text-uppercase p_22 text-yellow">Разместить эту</p>
									<p class="text-uppercase p_26 text-yellow"><strong> рекламу</strong></p>
								</div>
								<div class="callform-body">
									<div class="row">
										<div class="col-md-7">
											<div class="form-group">
										    <input type="text" class="form-control rounded-pill" placeholder="Номер телефона"/>
										  </div>
										</div>
										<div class="col-md-5 order-2 order-md-1">
											<button type="submit" class="btn btn-block rounded-pill text-uppercase btn-gradient">Связаться с нами</button>
										</div>
										<div class="col-md mb-3 order-1 order-md-2">
											<div class="custom-control white custom-checkbox">
											  <input type="checkbox" class="custom-control-input" id="customCheck1">
											  <label class="custom-control-label" for="customCheck1">Согласен на обработку <a href="#">персональных данных</a></label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="for_business py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="title_block mb-5">
						<h4 class="text-uppercase">идеально подойдет для</h4>
						<h2 class="text-uppercase">Вашего бизнеса</h2>
					</div>
					<div class="pt-md-5 mb-5">
						<div class="mb-5">
							<p><strong style="font-size: 1.5rem;">Афиши</strong> - это отдельно стоящие рекламоносители, относятся к конструкциям малого формата, но <strong>большой эффективности</strong></p>
						</div>
						<div>
							<div class="d-flex mb-4">
								<div class="mr-3">
									<img src="images/icon_1.png" alt=""/>
								</div>
								<div><strong>Яркая</strong> наружная подсветка</div>
							</div>
							<div class="d-flex mb-4">
								<div class="mr-3">
									<img src="images/icon_2.png" alt=""/>
								</div>
								<div><strong>1800 x 1800 мм</strong> - возможность воплотить любую дизайнерскую идею</div>
							</div>
							<div class="d-flex mb-4">
								<div class="mr-3">
									<img src="images/icon_3.png" alt=""/>
								</div>
								<div><strong>Большой охват</strong> аудитории засчет расположения и формата</div>
							</div>
						</div>
					</div>
					<div class="callform__block pt-md-5">
						<div class="callform-title mb-2">
							<p class="text-uppercase p_26"><strong>Давайте мы вам</strong></p>
							<p class="text-uppercase p_22">перезвоним</p>
						</div>
						<div class="callform-body">
							<div class="row">
								<div class="col-md-7">
									<div class="form-group">
								    <input type="text" class="form-control rounded-pill" placeholder="Номер телефона"/>
								  </div>
								</div>
								<div class="col-md-5 order-2 order-md-1">
									<button type="submit" class="btn btn-block rounded-pill text-uppercase btn-gradient">Связаться с нами</button>
								</div>
								<div class="col-md mb-3 order-1 order-md-2">
									<div class="custom-control custom-checkbox">
									  <input type="checkbox" class="custom-control-input" id="customCheck1111">
									  <label class="custom-control-label" for="customCheck1111">Согласен на обработку <a href="#">персональных данных</a></label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row no-gutters poster-item mb-5">
						<div class="col-md-6 mb-3 mb-md-0">
							<div class="d-flex align-items-center">
								<div class="mr-2">
									<div class="poster-item-icon d-flex align-items-center justify-content-center">
										<img src="images/poster_item_icon_1.png" alt=""/>
									</div>
								</div>
								<div class="poster-item-title text-uppercase">
									<p class="mb-0">с внешней подсветкой</p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="">
								<svg id='preloader' viewBox='0 0 100 100'>
							    <defs>
						        <mask id='mask-1' x='0' y='0' width='100' height='100'>
						          <path class="st0 img-fluid" d="M23.5,80.7C-13.7,43.1-6.7,17.6,44.4,4.2s69.7,5.4,55.8,56.4S60.6,118.2,23.5,80.7z"/>
						        </mask>
							    </defs>
							    <image width='100' height='100' xlink:href='images/poster-1.jpg' mask='url(#mask-1)' />
								</svg>
							</div>
							<div class="poster-item-image">
								
								<img src="images/poster-1.jpg" class="img-fluid clip-svg" alt=""/>
								<svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" xml:space="preserve">
								<style type="text/css">
									.st0{fill:#FFFFFF;}
									.st1{fill:#EAF2F7;}
								</style>
								<defs>
									<clipPath id="poster_item_image_clip">
										<path class="st0" d="M23.5,80.7C-13.7,43.1-6.7,17.6,44.4,4.2s69.7,5.4,55.8,56.4S60.6,118.2,23.5,80.7z"/>
									</clipPath>
								</defs>
								<path class="st1" d="M64.2,104.6c-4.9,0-10.1-1.3-15.6-4.1c-7.7-3.8-16.3-10.4-25.4-19.6l0,0C14.2,71.7,7.6,63.1,3.9,55.3
	C0.1,47.3-0.9,40,0.9,33.5s6.4-12.3,13.7-17.2c7.2-4.8,17.2-8.9,29.7-12.2c12.5-3.3,23.3-4.6,31.9-4c8.8,0.7,15.6,3.5,20.4,8.3
	c4.8,4.8,7.4,11.7,8,20.5c0.6,8.6-0.9,19.3-4.3,31.8c-3.4,12.5-7.6,22.4-12.5,29.5c-5,7.3-10.8,11.8-17.4,13.6
	C68.4,104.3,66.4,104.6,64.2,104.6z M71.5,2.9c-7.5,0-16.3,1.3-26.5,4C20.8,13.2,6.8,22.4,3.6,34.2C0.4,46.1,7.7,61.1,25.3,78.9l0,0
	c17.6,17.8,32.5,25.3,44.4,22.1c11.8-3.1,21.2-16.9,27.8-41.1c6.6-24.1,5.6-40.8-3-49.5C89.5,5.4,81.8,2.9,71.5,2.9z"/>
								</svg>
							</div>
							<img src="images/poster_item_bg.svg" class="img-fluid" alt="">
						</div>
					</div>
					<div class="row poster-item mb-5">
						<div class="col-md-6 mb-3 mb-md-0 order-md-2">
							<div class="d-flex align-items-center">
								<div class="mr-2">
									<div class="poster-item-icon d-flex align-items-center justify-content-center">
										<img src="images/poster_item_icon_2.png" alt=""/>
									</div>
								</div>
								<div class="poster-item-title text-uppercase">
									<p class="mb-0">Без внешней подсветки</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 poster-item-image order-md-1">
							<svg class="img-fluid" width="100" height="100">
						    <defs>
					        <pattern id="a" patternUnits="userSpaceOnUse" class="w-100 h-100" width="100" height="100">
				            <image xlink:href="images/poster-2.jpg" x="0" y="0" width="100" height="100" />
					        </pattern>
						    </defs>
						    <!--<polygon fill="url(#a)" points="25 0, 50 0, 75 0, 100 25, 100 50, 100 75, 75 100, 50 100, 25 100, 0 75, 0 50, 0 25" />-->
						    <path  fill="url(#a)" class="st0" d="M86.9,276.7C-36.4,152-13.3,67.5,156.4,23s231.3,17.9,185,187S210.2,401.4,86.9,276.7z"/>
							</svg>
							<!--<figure>
								<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="img-fluid">
					        <defs>
				            <clipPath id="object-bounding" clipPathUnits="userSpaceOnUse">
			                <path class="img-fluid" d="M84.7,278.9C-41.5,151.3-17.8,64.8,155.8,19.3s236.7,18.3,189.3,191.4S210.9,406.5,84.7,278.9z"/>
				            </clipPath>
				        	</defs>

					        <image width="100%" height="100%" preserveAspectRatio="xMinYMin slice" xlink:href="images/poster-2.jpg" clip-path="url(#object-bounding)"/>
						    </svg>
						  </figure>-->
							<!--<img src="images/poster-2.jpg" class="img-fluid clip-svg" alt=""/>
							<img src="images/poster_item_bg.svg" class="img-fluid img-svg" alt=""/>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="petal__block petal-left">
			<div class="petal-bg rotation_left sec-8">
				<img src="images/petal_bg.svg" class="img-fluid" alt=""/>
			</div>
			<div class="petal-hex rotation_right sec-8">
				<img src="images/petal_red.svg" class="img-fluid" alt=""/>
			</div>
		</div>
		<div class="petal__block petal-right">
			<div class="petal-bg rotation_right sec-8">
				<img src="images/petal_bg.svg" class="img-fluid" alt=""/>
			</div>
			<div class="petal-hex hex-left rotation_left sec-8">
				<img src="images/petal_blue.svg" class="img-fluid" alt=""/>
			</div>
		</div>
	</section>
	<section class="placement_schedule py-5">
		<div class="container">
			<div class="title_block colored mb-5">
				<h4 class="text-uppercase">воспользуйтесь удобным инструментом</h4>
				<h2 class="text-uppercase">График размещения</h2>
			</div>
		</div>
	</section>
	<section class="scheme_work pt-5">
		<div class="container">
			<div class="title_block mb-5">
				<h4 class="text-uppercase">Простая</h4>
				<h2 class="text-uppercase">Схема работы</h2>
			</div>
		
			<div class="parthners py-4">
		    <div class="parthners-slider owl-carousel owl-theme">
		      <div class="parthners-slider-item">
		        <a href="#"><img src="images/1.png" class="img-fluid" alt=""/></a>
		      </div>
		      <div class="parthners-slider-item">
		        <a href="#"><img src="images/2.png" class="img-fluid" alt=""/></a>
		      </div>
		      <div class="parthners-slider-item">
		        <a href="#"><img src="images/3.png" class="img-fluid" alt=""/></a>
		      </div>
		      <div class="parthners-slider-item">
		        <a href="#"><img src="images/4.png" class="img-fluid" alt=""/></a>
		      </div>
		      <div class="parthners-slider-item">
		        <a href="#"><img src="images/5.png" class="img-fluid" alt=""/></a>
		      </div>
		      <div class="parthners-slider-item">
		        <a href="#"><img src="images/6.png" class="img-fluid" alt=""/></a>
		      </div>
		      <div class="parthners-slider-item">
		        <a href="#"><img src="images/7.png" class="img-fluid" alt=""/></a>
		      </div>
		      <div class="parthners-slider-item">
		        <a href="#"><img src="images/8.png" class="img-fluid" alt=""/></a>
		      </div>
		      <div class="parthners-slider-item">
		        <a href="#"><img src="images/1.png" class="img-fluid" alt=""/></a>
		      </div>
		      <div class="parthners-slider-item">
		        <a href="#"><img src="images/2.png" class="img-fluid" alt=""/></a>
		      </div>
		    </div>
			</div>
		</div>
	</section>
</main>
<%= _.template(require('./../includes/footer.html'))(data) %>