@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700&subset=cyrillic');
@import "~bootstrap/scss/bootstrap";
@import "~magnific-popup/dist/magnific-popup.css";
@import "~owl.carousel/dist/assets/owl.carousel.css";

$font: 'Fira Sans', sans-serif;
$maincolor: #4c5557;
$purplecolor: #5b116f;
$yellowcolor: #ffd34e;
$pinkcolor: #df5d86;
$darkpinkcolor: #ff0a46;
$greycolor: #f6f9fb;
$lightbluecolor: #04c5fb;
$turquoisecolor: #00f6ff;

body{ font-family: $font; color: $maincolor; background-color: $purplecolor;}

.btn-gradient{ padding-top: calc(0.75rem + 2px); padding-bottom: calc(0.55rem + 2px); color: #FFF; border: 0; outline: none; text-transform: uppercase; font-weight: 500; background: repeating-linear-gradient(to right, #ff0050, #ffd34e); background: -webkit-repeating-linear-gradient(left, #ff0050, #ffd34e); background: -moz-repeating-linear-gradient(left, #ff0050, #ffd34e); position: relative; overflow: hidden; box-shadow: 0 .5rem 1rem rgba(255,9,80,0.65); animation: anime 4s linear infinite; background-size: 200%;
  &:after{ content: ""; height: 100%; position: absolute; transform: rotate(-40deg) translateY(-15%); width: 200%; background: rgba(255, 255, 255, 0.25); background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0.25) 77%, rgba(255, 255, 255, 0.6) 92%, rgba(255, 255, 255, 0.0) 100%); transition-duration: 0.7s, 0.7s, 0.15s; transition-property: left, top, opacity;}
  &:hover, &:focus{ color: #FFF; background-color: #ff0050;
    &:after{ animation: shine 2s infinite linear;}
  }
}

.global__phone{ color: $pinkcolor;
  .global-phone-icon{ position: absolute; left: 0; width: 1rem; height: 1rem; top: 50%; margin-top: -0.5rem; }
  h3{ padding-left: 2rem; position: relative; font-size: 1.875rem; font-weight: 300; color: #ffb852; margin-bottom: 0;
    a{ text-decoration: none; color: #ffb852; transition: color 0.3s ease-in-out; -webkit-transition: color 0.3s ease-in-out; -moz-transition: color 0.3s ease-in-out;
      &:hover, &:focus{ color: $yellowcolor; }
    }
  }
  p{ margin-bottom: 0; font-weight: 700; font-size: 0.875rem;
    a{ font-size: 1rem; text-decoration: none; color: $yellowcolor; 
      &:hover, &:focus{ text-decoration: underline;}
    }
  }
}

.header{ color: #FFF; position: relative; padding-bottom: 6rem; overflow: hidden;
  &:after{ content: ""; height: 100px; left: 0; right: 0; bottom: 0; position: absolute; z-index: -1; background: url(../images/bottom_left_line.svg) top center no-repeat; background-size: cover; }
  &.header-main-bg{ background: url(../images/elipse_bg.png) top left 35% no-repeat; background-size: 60%;}
  .lang-switcher{ font-size: 0.875rem;
    ul{ padding: 0; margin: 0; list-style: none; overflow: hidden;
      li{ display: block; float: left;
        a{ color: #FFF; display: block; width: 1.5rem; height: 1.5rem; line-height: 1.8; text-align: center;  margin-right: 0.5rem; text-decoration: none; border-radius: 50%; transition: background-color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out;
          &:hover, &:focus{ background-color: $lightbluecolor;}
        }
        &:last-child{
          a{ margin-right: 0; }
        }
        &.current-lang{
          a{ background-color: $lightbluecolor;}
        }
      }
    }
    
  }
  .logo{
    img{ max-width: 11rem; }
  }
  .call-processing{ color: #fff; font-size: 0.875rem; font-weight: 500; line-height: 1.2;
    p{ margin-bottom: 0;}
  }
  .call-messengers{ position: relative;
    .call-messengers-more{ display: block; padding: 0.6rem; border-radius: 50%; background-color: #ff2a6d; position: absolute; left: 0.5rem; top: 0; transition: background-color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out;
      img{ width: 100%; max-width: 0.75rem; display: block; box-sizing: border-box;}
      &:hover, &:focus{ background-color: #ff547e; }
    }
    .call-messengers-item{ text-decoration: none; color: #FFF; font-weight: 500; position: relative;
      &:after{ content: ""; height: 2px; background-color: #a24095; position: absolute; left: 0; bottom: 0; width: 100%; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; };
      &:hover, &:focus{
        &:after{ width: 40%; background-color: $yellowcolor; }
      }
      span{
        &:last-child{ font-size: 1.125rem; }
      }
    }
  }
  .header-menu{ position: relative; z-index: 10;
    .header-menu-icon{ cursor: pointer; height: 3.75rem; width: 3.75rem; border-radius: 50%; background-color: #ff2a6d; position: relative; z-index: 1; transition: background-color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out;
      span{ position: relative; display: inline-block; width: 30px; height: 3px; background-color: #fff; border-radius: 2px;
        &:before, &:after{ content: ""; position: absolute; display: inline-block; width: 30px; height: 3px; border-radius: 2px; background-color: #fff;}
        &:before{ top: -6px;}
        &:after{ top: 6px;}
      }
      &:hover, &:focus{ background-color: #ff547e; }
    }
    .hide-menu{ position: absolute; top: 2rem; padding: 3rem 1.5rem; height: 0; background-color: $yellowcolor; border-radius: 1rem; transition: 0.2s ease-in-out;
      ul{ padding: 0; margin: 0; list-style: none;
        li{ margin-bottom: 1rem; opacity: 0;
          &:last-child{ margin-bottom: 0; }
          a{ color: $maincolor; font-size: 0.9375rem; text-decoration: none; font-weight: 500; position: relative;
            &:before{ display: block; position: absolute; content: ""; height: 4px; width: 0; background-color: #ff2a6d; transition: width 0.5s ease-in-out, left 0.5s ease-in-out; -webkit-transition: width 0.5s ease-in-out, left 0.5s ease-in-out; -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out; bottom: -3px;}
            &:hover, &:focus{
              &:before{ width: 120%;}
            }
          }
        }
      }
    }
    &.show{
      .header-menu-icon{ 
        span{ visibility: hidden;
          &:before, &:after{ visibility: visible;}
          &:before{ top: 50%; transform: translateY(-50%) rotate(45deg);}
          &:after{ top: 50%; transform: translateY(-50%) rotate(-45deg);}
        }
      }
      .hide-menu{ height: auto;
        ul{
          li{ opacity: 1; }
        }
      }
    }
  }
  .header-title{ color: #FFF;
    h1{ font-weight: 700; color: $yellowcolor;}
    h3{ font-weight: 400; color: $pinkcolor; }
  }
  .main-content{ position: relative; overflow: hidden;
    .main-content-slider{ position: relative;
      .circles_block{ width: 100%; overflow: hidden; border: 1rem solid #842878; border-radius: 50%; position: absolute; z-index: -1;
        &:before{ content: ""; padding-top: 100%; float: left; }
        .circles_inner{ position: absolute; top: 0.75rem; right: 0.75rem; bottom: 0.75rem; left: 0.75rem; border: 0.875rem solid transparent; border-top-color: #02c4fd; border-bottom-color: #ecc413; border-radius: 50%; -webkit-animation: clockwiserotation 4s linear infinite; animation: clockwiserotation 4s linear infinite;
          &:before{ content: ""; position: absolute; top: 0.5rem; right: 0.5rem; bottom: 0.5rem; left: 0.5rem; border: 0.5rem solid transparent; border-left-color: #df5d86; border-right-color: #df5d86; border-radius: 50%; -webkit-animation: clockwiserotation 2s linear infinite reverse; animation: clockwiserotation 2s linear infinite reverse;}
        }
      }
    }
  }
  .lines_figure{ position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1;
    .lines-top{ position: absolute; left: 0; top: 0; right: 0; }
    .lines-bottom{ position: absolute; left: 0; right: 0; bottom: 0; }
    svg{ height: 100%; }

  }
  .square_figure{ width: 420px; height: 420px; border: 40px solid $turquoisecolor; position: absolute; z-index: -2; left: -300px; top: -300px; }
  .circle_figure{ width: 400px; height: 400px; border-radius: 50%; border-top: 60px solid #ff6f70; border-left: 60px solid #ff6f70; border-bottom: 60px solid $yellowcolor; border-right: 60px solid $yellowcolor; position: absolute; z-index: -2; right: -200px; bottom: -100px;}
}

.look__block{ position: relative;
  .look-block-border{ position: relative; z-index: 1;}
  .look-block-content{ position: absolute; z-index: 2; left: 0; top: 0; right: 0; bottom: 0; margin: 1rem;
    .look-block-content-bg{ position: relative; z-index: 1;}
    .look-block-content-text{ position: absolute; z-index: 2; left: 0; top: 0; right: 0; bottom: 0;}
  }
  .look-block-link{ display: inline-block; width: 4rem; fill: #FFF; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out;
    &:hover, &:focus{ fill: $yellowcolor; transform: scaleX(-1); -webkit-transform: scaleX(-1); }
  }
}

@keyframes show {
  0% {
    opacity: 0.15;
 }
  50% {
    opacity: 0.2;
 }
  100% {
    opacity: 0.15;
 }
    }

.dotted__bg{ left: 0; top: 0; right: 0; height: 450px; position: absolute; z-index: -2; background: url(../images/dotted_bg.svg); background-size: 14px;}

.callform__block{
  .callform-title{
    p{ margin-bottom: 0; line-height: 1;}
    .p_22{ font-size: 1.375rem; }
    .p_26{ font-size: 1.625rem; }
    .text-yellow{ color: $yellowcolor; }
  }
  .callform-body{
    .form-control{ border: 2px solid #FFF; background-clip: border-box; padding-top: 0.75rem; padding-bottom: 0.55rem; box-shadow: inset 0 5px 10px rgba(77,133,173,0.3); height: auto; outline: none;}
  }
  .custom-control{ padding-left: 2.5rem;
    .custom-control-label{
      &:before{ width: 1.75rem; height: 1.75rem; border-radius: 50%; border: 2px solid #FFF; box-shadow: inset 0 5px 10px rgba(77,133,173,0.3); left: -2.5rem; top: 50%; margin-top: -0.875rem;}
      &:after{ width: 1.75rem; height: 1.75rem; border-radius: 50%; left: -2.5rem; top: 50%; margin-top: -0.875rem;}
    }
    a{ color: $maincolor; text-decoration: underline;
      &:hover, &:focus{ text-decoration: none;}
    }
    &.white{
      a{ color: #FFF; }
    }
  }
}

.petal__block{ width: 480px; height: 480px; position: absolute;
  .petal-bg{ position: relative; z-index: 1; }
  .petal-hex{ position: absolute; z-index: 2; left: 50%; top: 50%; width: 160px; height: 160px; margin-top: -80px;
    &.hex-left{ left: auto; right: 50%; }
  }
}

.title_block{
  h4{ margin-bottom: 0; font-weight: 400;}
  h2{ margin-bottom: 0; font-weight: 700;}
  &.colored{ color: #FFF;
    h2{ color: $yellowcolor; }
  }
}

.advantages{ background-color: $greycolor;
  .advantages-slider{
    .item{ position: relative; transition: all 0.3s ease-in-out; bottom: 0;
      .item-bg{ position: relative; z-index: 1;
        svg{ filter: drop-shadow( 0 10px 15px rgba(4, 197, 251, 0.35)); -webkit-filter: drop-shadow( 0 10px 15px rgba(4, 197, 251, 0.35)); -moz-filter: drop-shadow( 0 10px 15px rgba(4, 197, 251, 0.35)); transition: all 0.15s ease-in-out;}
        .advantages-st0{ fill: #cdf3fe; transition: all 0.3s ease-in-out; }
        .advantages-st1{ fill: #FFF; transition: all 0.3s ease-in-out; }
      }
      .item-content{ position: absolute; z-index: 2; left: 0; top: 0; right: 0; bottom: 0;
        .item-icon{
          span{ display: inline-block; width: 4rem; height: 4rem; border-radius: 50%; border: 2px solid $maincolor; transition: all 0.3s ease-in-out;}
        }
      }
      &:hover, &:focus{ bottom: -1rem; color: #FFF;
        .item-bg{
          svg{ filter: none;}
          .advantages-st0{ fill: #39d2fd; }
          .advantages-st1{ fill: #04c5fb; }
        }
        .item-content{
          .item-icon{
            span{ border-color: #FFF; }
          }
        }
      }
    }
  }
  .think_link{ color: $maincolor; font-size: 1.125rem; text-decoration: underline; transition: all 0.3s ease-in-out;
    .think-icon{ width: 4rem; margin-right: 1rem; fill: $maincolor; transition: all 0.3s ease-in-out;}
    &:hover, &:focus{ color: $pinkcolor;
      .think-icon{ fill: $pinkcolor; transform: scaleX(-1); -webkit-transform: scaleX(-1); }
    }
  }
}

.banner_block{ background: url(../images/banner_bg.jpg) center center no-repeat; padding-top: 6rem; position: relative;
  &:before{ content: ""; height: 100px; left: 0; right: 0; top: 0; position: absolute; z-index: 2; background: url(../images/up_left_line.svg) bottom center no-repeat; background-size: cover; }
  &:after{ content: ""; height: 100px; left: 0; right: 0; bottom: 0; position: absolute; z-index: 2; background: url(../images/bottom_right_line.svg) top center no-repeat; background-size: cover; }
  .banner-form{ background: url(../images/banner_form_bg.svg) top center no-repeat; padding-top: 6rem; padding-bottom: 5rem; position: relative; z-index: 1; margin-top: -8rem; color: #FFF; }
}

.owl-carousel{
  .owl-nav{
    button{ outline: none; width: 4rem; height: 4rem; border-radius: 50%; position: absolute; top: 50%; margin-top: -2rem; background-color: #ff2a6d !important; background-position: center center !important; background-repeat: no-repeat !important; transition: all 0.3s ease-in-out;
      span{ display: none; }
      &:hover, &:focus{ background-color: #ff547e !important;}
    }
    button.owl-next{ right: 0; background-image: url(../images/slick-next.svg); 
      &.disabled{ opacity: 0.5; cursor: default; }
    }
    button.owl-prev{ left: 0; background-image: url(../images/slick-prev.svg);
      &.disabled{ opacity: 0.5; cursor: default;}
    }
  }
}

.review_block{
  .review_block-image{ max-width: 180px; position: relative;
    .clip-svg{ clip-path: url(#review_block_clip); -webkit-clip-path: url(#review_block_clip);}
    svg{ position: absolute; top: 0; left: 0; right: 0; bottom: 0;}
  }
  .review_block-all{
    a{ color: $maincolor; font-size: 1.125rem; font-style: italic; font-weight: 500; text-decoration: underline;
      &:hover, &:focus{ text-decoration: none; }
    }
  }
  .review_block-body{ position: relative; padding: 1rem 1rem 0 1rem;
    &:before, &:after{ position: absolute; font-size: 4.5rem; font-weight: 700; color: $lightbluecolor; line-height: 1; }
    &:before{ content: "\201D"; left: 0; top: -1.5rem; }
    &:after{ content: "\201E"; right: 0; bottom: 0;}
    p{ margin-bottom: 0; }
    .review_block-signature{
      h5{ font-weight: 700; }
      p{ font-weight: 500; font-size: 0.875rem; }
    }
  }
}

.for_business{ position: relative; overflow: hidden; background: $greycolor url(../images/for_business_bg_line.svg) bottom 3rem right 20% no-repeat;
  .petal-left{ left: -100px; top: 50%; margin-top: -230px; }
  .petal-right{ right: -100px; bottom: 10%; }
  .container{ position: relative; z-index: 3; }
  .poster-item{
    .poster-item-icon{ width: 3rem; height: 3rem; background: url(../images/poster-item-icon-bg.svg) no-repeat; }
    .poster-item-title{ font-weight: 700; font-size: 1.125rem; line-height: 1; }
    .poster-item-image{ position: relative;
      .clip-svg{ clip-path: url(#poster_item_image_clip); -webkit-clip-path: url(#poster_item_image_clip);}
      svg{ position: absolute; top: 0; left: 0; width: 100%; height: 100%;
        path{ max-width: 100%; }
      }
    }
  }
}

.placement_schedule{

}

.scheme_work{ background-color: $greycolor;
  .parthners{
    .parthners-slider{
      .owl-item{ transition: all .2s ease-in-out; filter: grayscale(1); opacity: 0.5; 
        .parthners-slider-item{ display: flex; align-items: center; justify-content: center; min-height: 6rem;
        }
        &:hover, &.center{ filter: grayscale(0); opacity: 1;}
      }
    }
  }
}

.footer{ background: $greycolor url(../images/footer_bg.svg) top center no-repeat; color: #FFF; position: relative;
  &:before{ content: ""; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-image: url(../images/footer_bg2.svg); background-repeat: repeat-y; -webkit-animation: slide 10s infinite linear; animation: slide 10s infinite linear;}
  .footer-title{ color: #FFF;
    &.yellow{ color: $yellowcolor; }
    h5{ font-size: 1.125rem;}
  }
  .footer-email{ font-size: 0.875rem; font-weight: 500;
    p{ margin-bottom: 0;
      a{ font-size: 1rem; text-decoration: none; color: $yellowcolor;
        &:hover, &:focus{ text-decoration: underline;}
      }
    }
  }
  .footer-nav{ padding-left: 0; list-style: none; font-size: 0.875rem; font-weight: 500;
    li{ margin-bottom: 1rem; }
    a{ color: #FFF; position: relative; text-decoration: none; display: inline;
      &:before{ display: block; position: absolute; content: ""; height: 4px; width: 0; background-color: $yellowcolor; transition: width 0.5s ease-in-out, left 0.5s ease-in-out; -webkit-transition: width 0.5s ease-in-out, left 0.5s ease-in-out; -moz-transition: width 0.5s ease-in-out, left 0.5s ease-in-out; bottom: -3px;}
      &:hover, &:focus{
        &:before{ width: 120%;}
      }
    }
  }
  .footer-social{
    a{ display: inline-block; width: 2.25rem; height: 2.25rem; border-radius: 50%; background-color: $darkpinkcolor; padding: 0.5rem; margin: 3px; fill: #FFF; transition: background-color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out; -moz-transition: background-color 0.3s ease-in-out;
      svg{ display: block; }
      &:hover, &:focus{ background-color: #ff547e; }
    }
  }
  .footer-copyright{ font-size: 0.875rem; font-weight: 500;
    p{ margin-bottom: 0; }
    a{ color: #FFF; text-decoration: underline;
      &:hover, &:focus{ color: $yellowcolor; text-decoration: none;}
    }
  }
}


.rotation_right{
  &.sec-4{ -webkit-animation: clockwiserotation 4s linear infinite; animation: clockwiserotation 4s linear infinite;}
  &.sec-6{ -webkit-animation: clockwiserotation 6s linear infinite; animation: clockwiserotation 6s linear infinite;}
  &.sec-8{ -webkit-animation: clockwiserotation 8s linear infinite; animation: clockwiserotation 8s linear infinite;}
}
.rotation_left{
  &.sec-4{ -webkit-animation: counterclockwiserotation 4s linear infinite; animation: counterclockwiserotation 4s linear infinite;}
  &.sec-6{ -webkit-animation: counterclockwiserotation 6s linear infinite; animation: counterclockwiserotation 6s linear infinite;}
  &.sec-8{ -webkit-animation: counterclockwiserotation 8s linear infinite; animation: counterclockwiserotation 8s linear infinite;}
}

@keyframes shine{
  from{ left: -230%; opacity: 0; top: -20%;} 
  to{ left: 230%; opacity: 1; top: -50%;}
}
@keyframes anime{ 
  0%{ background-position: 0% 50%;}
  50%{ background-position: 100% 50%;}
  100%{ background-position: 0% 50%;}
}
@keyframes clockwiserotation{ 
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}
@keyframes counterclockwiserotation{ 
  100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); }
}
@keyframes spin{ 
  100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
}
/*@keyframes slide {
  0%{
    transform: translateY(0);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-400px);
    opacity: 0;
    border-radius: 50%;
  }
}*/


@include media-breakpoint-up(lg){
  .header{
    
  }
  .look__block{
    .look-block-content{ margin: 3rem;}
  }
}

@include media-breakpoint-up(md){
  .header{
    .main-content{
      .main-content-slider{
        .circles_block{ border: 1.875rem solid #842878;
          .circles_inner{ top: 1.25rem; right: 1.25rem; bottom: 1.25rem; left: 1.25rem; border-width: 1.5rem;
            &:before{ top: 2rem; right: 2rem; bottom: 2rem; left: 2rem; border-width: 1rem;}
          }
        }
      }
    }
  }
  .review_block{
    .review_block-body{ padding: 0;
      &:before{ left: -2rem;}
      &:after{ right: -2rem;}
    }
  }
  .owl-carousel{
    .owl-nav{
      button.owl-next{ right: -4rem;}
      button.owl-prev{ left: -4rem;}
    }
  }
}

@include media-breakpoint-up(sm){
  .header{
    
  }
  .look__block{
    .look-block-content{ margin: 2rem;}
  }
}